<div class="row">
  <div class="col-2">
    <a href="" routerLink="./client/client-list">Listar</a>
    <a href="" routerLink="./client/client-create">Crear</a>
  </div>
  <div class="col-10"><router-outlet></router-outlet></div>
</div>