<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID CLIENTE</th>
                <th>DOCUMENTO</th>
                <th>NOMBRE</th>
                <th>TELEFONO</th>
                <th>DIRECCIÓN</th>
                <th>E-MAIL</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of client">
                <td>{{item.idClient}}</td>
                <td>{{item.documentNumber}}</td>
                <td>{{item.nameClient}}</td>
                <td>{{item.phoneClient}}</td>
                <td>{{item.adressClient}}</td>
                <td>{{item.mailClient}}</td>
            </tr>
        </tbody>
    </table>
</div>
